[mysqld]
#skip-grant-tables
character-set-server=utf8mb4
port = 3306
server-id=200
log_bin=mysql-bin
#binlog的格式也有三种：STATEMENT，ROW，MIXED。
binlog-format=ROW
#binlog过期清理时间
expire_logs_days=3
#binlog每个日志文件大小
max_binlog_size=100m
#binlog缓存大小
binlog_cache_size=10m
max_binlog_cache_size=512m
#发生事务时非事务语句的缓存的大小
binlog_stmt_cache_size=100m
max_binlog_stmt_cache_size=100m
max_connections=2000
lower_case_table_names=1
[client]
default-character-set=utf8mb4